        body { margin:0; overflow:hidden; background:black; }
      #hud {
    position:fixed;
    top:10px;
    left:10px;
    color:#0ff;
    font-family:monospace;
    background:rgba(0,0,0,.6);
    padding:10px;
    border-radius:6px;
    z-index:1500;
  }
  #controls {
    position:fixed;
    bottom:10px;
    left:10px;
    color:white;
    font-family:monospace;
    z-index:1500;
  }

      button { background:black; color:#0ff; border:1px solid #0ff; padding:6px 10px; cursor:pointer; margin-top:6px; }
      .label { position: absolute; color: #0ff; font-family: monospace; font-size: 12px; pointer-events: none; }
      #mobileControls{
    position:fixed;
    bottom:20px;
    left:20px;
    display:none;
    z-index:1500;
  }


    #mobileControls button{
      width:55px;
      height:55px;
      font-size:22px;
      margin:4px;
      border:none;
      border-radius:50%;
      background:rgba(0,0,0,0.5);
      color:white;
    }

    .pad{
      display:inline-block;
    }

    .updown{
      display:inline-block;
      margin-left:15px;
    }
    #teleportPanel{
    position:fixed;
    top:0;
    left:-260px;
    width:240px;
    height:100%;
    background:rgba(0,0,0,0.9);
    color:#0ff;
    font-family:monospace;
    padding:15px;
    border-right:1px solid #0ff;
    transition:left 0.3s ease;
    z-index:1600;
  }

    #teleportPanel h3{
      margin-top:0;
      text-align:center;
    }

    #teleportPanel button{
      width:100%;
      margin:6px 0;
    }